# MongoDB 
DATABASE_URL="mongodb+srv://"

# JWT 
JWT_SECRET="generate-secret"
ADMIN_SECRET="generate-secret"
CONFIRMATION_SECRET="generate-secret"
PASSWORD_RESET_SECRET="generate-secret"
# Resend & Emailing
RESEND_API_KEY="resend-api-key""

ADMIN_EMAIL="admin@admin.com"
CONTACT_EMAIL="contact@contact.com"
NOREPLY_EMAIL="noreply@noreply.com"

LOGO_URL="https://yourlogo.com"

# Mercado Pago Configuration
MP_ACCESS_TOKEN="mp-test-access-token" # use the real ones in production
MP_PUBLIC_KEY="mp-test-public-key"
MP_INTEGRATOR_ID="dev_"

# Webhook Configuration
MP_WEBHOOK_SECRET=your_webhook_secret

# URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000

NODE_ENV="development"